:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(173, 255, 233) rgb(164, 40, 92);
  background-color:rgb(255, 157, 190)  #a13636;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
img.cara{
  width: 85%;
  height: 85%;
}
img{
  width: 20%;
  height: 20%;
}
